@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin-top: 120px;
  background: linear-gradient(
    54deg,
    rgba(33, 32, 136, 0.87718837535014) 5%,
    rgba(153, 8, 8, 0.6530987394957983) 26%,
    rgba(0, 78, 242, 0.7231267507002801) 52%,
    rgba(48, 39, 39, 1) 90%
  );
}
h1 {
  color: rgb(180, 22, 22);
  font-family: verdana;
  max-width: 580px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "content-aside aside"
    "footer footer";
  grid-template-columns: 1fr 450px;
}
.box-head {
  box-sizing: border-box;
  width: 1930px;
  position: fixed;
  top: 0px;
  background-color: rgb(14, 87, 26);
  padding: 10px;
  border: 10px solid yellow;
  border-radius: 15px;
  display: grid;
  &__title {
    max-width: 600px;
    font-size: xx-large;
    font-family: OCR A Std, monospace;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__title::before {
    content: "=>";
  }
  &__links {
    font-family: OCR A Std, monospace;
    font-style: initial;
    color: #ffffff;
    font-size: large;
    width: 150px;
  }
  &__links:hover {
    color: rgb(58, 23, 141);
  }
}
.item {
  padding: 5x;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.header {
  grid-area: header;
  padding: 20px;
  border: solid 5px yellow;
  border-radius: 10px;
  font-size: xxx-large;
  font-family: monospace;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  &__content {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(41, 43, 172);
  }
  &__picture {
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 20px;
    border: 10px solid yellow;
    border-radius: 15px;
  }
}
.content {
  box-sizing: border-box;
  padding: 10px;
  border: solid black;
  border-radius: 10px;
  &__head {
    display: block;
    color: rgb(9, 117, 94);
    font-family: verdana;
    max-width: 600px;
    box-sizing: border-box;
    padding: 10px;
    border-color: white;
    border: 20px;
  }
  &__head::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: rgb(19, 156, 88);
  }
  &__header {
    max-width: 400px;
    color: rgb(151, 24, 24);
    margin: 0px 10px 0px;
    font-size: x-large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  &__header::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: rgb(255, 103, 57);
  }
  &__description {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: large;
  }
  &__description--concepts {
    max-width: 900px;
    text-align: left;
    margin-left: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  &__content-aside {
    grid-area: aside;
    box-sizing: border-box;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
  }
  &__subject {
    font-size: 50px;
  }
}
h4 {
  color: rgb(44, 38, 97);
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 5px 0px;
}
a {
  color: #200e70;
}

.footer {
  grid-area: footer;
  font-size: x-large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 20px 0px 20px;
  box-sizing: border-box;
  border: solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  &__back-to-top {
    font-size: larger;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: yellowgreen;
  }
}

.info-html__box {
  height: 200px;
  width: 350px;
  background-color: rgb(41, 107, 160);
  padding: 10px;
  border: 10px solid yellow;
  border-radius: 20px;
  overflow: auto;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  max-width: 900px;
  text-align: left;
  margin-left: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button__js--button {
  background-color: coral;
  width: 100px;
  font-family: monospace;
  font-size: large;
}

.js-klasa {
  background-color: rgb(77, 221, 221);
  box-sizing: border-box;
  border-radius: 15px;
}

.menu {
  position: absolute;
  border-radius: 4px;
  right: 5%;
  top: 10px;
  width: 100px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: large;
}

@media screen and (max-width: 456px) {
  body {
    margin-top: 270px;
    background: cadetblue;
  }
  .header {
    width: 456px;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    border: solid 5px yellow;
    border-radius: 10px;
    font-size: xxx-large;
    font-family: monospace;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .box-head {
    box-sizing: border-box;
    max-width: 456px;
    width: 900px;
    position: fixed;
    top: 0px;
    background-color: rgb(41, 107, 160);
    padding: 16px;
    border: 10px solid yellow;
    border-radius: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-items: center;
  &__title {
    max-width: 200px;
    margin-top: 0px;
    padding: 0px;
    font-size: x-large;
    font-family: OCR A Std, monospace;
    display: flex;
    flex-direction: row;
    justify-content: left;
  }
  &__links {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #000000;
    font-size: large;
    margin-top: 5px;
    max-width: 120px;
  }
}
  .item {
    padding: 10px;
    width: 100vh;
    background-color: rgb(113, 146, 206);
    max-width: 250px;
    border: 4px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .content {
    width: 456px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: solid black;
    border-radius: 10px;
    &__content-aside {
        height: 250px;
        width: 456px;
        box-sizing: border-box;
        margin: 10px 0px 10px 0px;
        padding: 10px;
        border: solid black;
        border-radius: 10px;
      }
  }
  .footer {
    width: 456px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0px 20px;
    box-sizing: border-box;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
  }
  .menu--js {
    position: absolute;
    border-radius: 4px;
    right: 5%;
    top: 10px;
    width: 100px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: large;
  }
  .item--js {
    padding: 10px;
    width: 100vh;
    background-color: rgb(255, 255, 255);
    max-width: 250px;
    border: 4px solid;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
  }
}